<div class="flex">
  <.link navigate="/accounts/new">New</.link>
</div>

<div>
  <.live_component
    id="accounts"
    module={SimpleBudgetWeb.Accounts.Layout}
    accounts_layout={@preferences_layout}
    accounts={@streams.accounts}
  />
</div>
