<!--
  JSPM Generator Import Map
  Edit URL: https://generator.jspm.io/#Y2NhYGCVD87MLchJVXAqTUlPLWEoyMhPzcuscDDUM9MzNIVx4zNKcnMcjPWM9AzgQjmZZanxZZmp5Q4GeoYWesYMJfkFSYlFQJ1APkNZYl5mTk5iVrFuSmJJakFmcnYqSApoAAC7DBH9dgA
-->
<script type="importmap">
  {
    "imports": {
      "phoenix": "https://ga.jspm.io/npm:phoenix@1.6.15/priv/static/phoenix.mjs",
      "phoenix_html": "https://ga.jspm.io/npm:phoenix_html@3.2.0/priv/static/phoenix_html.js",
      "phoenix_live_view": "https://ga.jspm.io/npm:phoenix_live_view@0.18.3/priv/static/phoenix_live_view.esm.js",
      "topbar": "https://ga.jspm.io/npm:topbar@1.0.1/topbar.min.js",
      "vanillajs-datepicker": "https://ga.jspm.io/npm:vanillajs-datepicker@1.2.0/js/main.js"
    }
  }
</script>
<!-- ES Module Shims: Import maps polyfill for modules browsers without import maps support (all except Chrome 89+) -->
<script
  async
  src="https://ga.jspm.io/npm:es-module-shims@1.5.1/dist/es-module-shims.js"
  crossorigin="anonymous"
>
</script>
