<!--
  JSPM Generator Import Map
  Edit URL: https://generator.jspm.io/#Y2NhYGCVD87MLchJdSpNSU8tYUjLyS9PyixJdTDUM9EzZyjIyE/Ny6wA8sz0DA1g3PiMktwcB2M9Iz2EUE5mWWp8WWZquYOBnqE5SHFJfkFSYhFQK1AAANxwuq1qAA
-->
<script type="importmap">
{
  "imports": {
    "flowbite": "https://ga.jspm.io/npm:flowbite@1.4.7/dist/flowbite.js",
    "phoenix": "https://ga.jspm.io/npm:phoenix@1.6.10/priv/static/phoenix.mjs",
    "phoenix_html": "https://ga.jspm.io/npm:phoenix_html@3.2.0/priv/static/phoenix_html.js",
    "phoenix_live_view": "https://ga.jspm.io/npm:phoenix_live_view@0.17.10/priv/static/phoenix_live_view.esm.js",
    "topbar": "https://ga.jspm.io/npm:topbar@1.0.1/topbar.min.js"
  }
}
</script>

<!-- ES Module Shims: Import maps polyfill for modules browsers without import maps support (all except Chrome 89+) -->
<script async src="https://ga.jspm.io/npm:es-module-shims@1.5.1/dist/es-module-shims.js" crossorigin="anonymous"></script>
