<div class="flex">
  <.link navigate="/savings/new">New</.link>
</div>
<div>
  <.live_component
    id="savings"
    module={SimpleBudgetWeb.Savings.Layout}
    savings_layout={@preferences_layout}
    savings={@streams.savings}
  />
</div>
