Total remaining for month: <%= @total |> number_format(0) %>
<br /> Daily spendable: <%= @daily |> number_format %>
<br /> Days in month: <%= @days %>
<br /> Spent today: <%= @spent_today |> number_format %>
<br /> Spendable today: <%= @spendable_today |> number_format(5) %>
<br /> Total saving per day: <%= @daily_added |> number_format(2) %>
