<.form :let={form} for={@changeset} phx-submit="save">
  <div>
    <.input field={form[:amount]} type="number" inputmode="decimal" step="0.01" autofocus={true}>
    </.input>
    <.button class="w-full mt-4" type="submit">Save</.button>
  </div>
</.form>
