<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>

    <%= live_title_tag assigns[:page_title] || "SimpleBudget" %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Material+Icons|Roboto+Slab">
    <link href="https://unpkg.com/material-components-web@v13.0.0/dist/material-components-web.min.css" rel="stylesheet">

    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <div class="flex flex-col-reverse md:flex-row">
      <nav class="flex md:block">
        <%= link to: "/", class: "w-[72px] h-[72px] pt-[14px] pb-[16px] hover:text-indigo-500 text-center" do %>
          <span class="block material-icons">dashboard</span>
          <div class="text-sm leading-none">Reports</div>
        <% end %>
        <%= link to: "/accounts", class: "w-[72px] h-[72px] pt-[14px] pb-[16px] hover:text-indigo-500 text-center" do %>
          <span class="block material-icons">account_balance</span>
          <div class="text-sm leading-none">Accounts</div>
        <% end %>
        <%= link to: "/savings", class: "w-[72px] h-[72px] pt-[14px] pb-[16px] hover:text-indigo-500 text-center" do %>
          <span class="block material-icons">savings</span>
          <div class="text-sm leading-none">Savings</div>
        <% end %>
        <%= link to: "/goals", class: "w-[72px] h-[72px] pt-[14px] pb-[16px] hover:text-indigo-500 text-center" do %>
          <span class="block material-icons">sports_score</span>
          <div class="text-sm leading-none">Goals</div>
        <% end %>
      </nav>
      <main class="px-8 pt-8">
        <%= @inner_content %>
      </main>
    </div>
  </body>
</html>
