<!DOCTYPE html>
<html class="h-full bg-gray-100" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />

    <%= live_title_tag(assigns[:page_title], suffix: " · Simple Budget") %>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto|Material+Icons|Roboto+Slab"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css"
    />

    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
  </head>

  <body class="h-full">
    <%= render(SimpleBudgetWeb.SharedView, "navigation.html", page_title: @page_title) %>
    <main class="px-4">
      <%= @inner_content %>
    </main>
    <%= render(SimpleBudgetWeb.SharedView, "importmap.html") %>
    <script
      type="module"
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </body>
</html>
