<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />

    <.live_title>
      <%= assigns[:page_title] || "Simple Budget" %>
    </.live_title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto|Material+Icons|Roboto+Slab"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css"
    />

    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <%= link("Dashboard", to: Routes.dashboard_path(SimpleBudgetWeb.Endpoint, :show)) %>
        </li>
        <li>
          <%= link("Accounts",
            to: Routes.live_path(SimpleBudgetWeb.Endpoint, SimpleBudgetWeb.AccountLive.Index)
          ) %>
        </li>
        <li>
          <%= link("Savings",
            to: Routes.live_path(SimpleBudgetWeb.Endpoint, SimpleBudgetWeb.SavingLive.Index)
          ) %>
        </li>
        <li>
          <%= link("Goals",
            to: Routes.live_path(SimpleBudgetWeb.Endpoint, SimpleBudgetWeb.GoalLive.Index)
          ) %>
        </li>
      </ul>
    </nav>
    <main>
      <%= @inner_content %>
    </main>
    <%= render(SimpleBudgetWeb.SharedView, "importmap.html") %>
    <script
      type="module"
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </body>
</html>
