<nav>
  <div>
    <.link href={~p"/"}>Home</.link>
    <.link href={~p"/accounts"}>Accounts</.link>
    <.link href={~p"/savings"}>Savings</.link>
    <.link href={~p"/goals"}>Goals</.link>
  </div>
</nav>
<main class="">
  <div class="">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
